.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
  }
  
  .contenido-header {
    position: relative;
    z-index: 1;
    height: 650px;
  }
  
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  .nav-principal a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
  }
  
  .texto-header {
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }
  
  .texto-header h1 {
    font-size: 42px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(123, 244, 127, 0.5);
    z-index: 2;
    margin-top: 190px;
  }
  
  .Productos-total {
    padding: 20px;
  }
  
  .Productos-titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Productos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .Producto-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .Producto-imagen {
    width: 100%;
    height: auto;
  }
  
  .Producto-detalles {
    margin-top: 10px;
  }
  
  .Producto-nombre {
    font-size: 18px;
    font-weight: bold;
  }
  
  .Producto-precio {
    color: #4CAF50;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .Producto-cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Producto-cantidad button {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .Producto-cantidad p {
    margin: 0 10px;
  }
  
  .Agregar, .Eliminar {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  
  .Eliminar {
    background: #f44336;
  }