* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register {
    height: 100%; /* Asegura que el cuerpo y el HTML ocupen toda la altura */
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.register-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    margin-bottom: 1.5rem;
    color: #444;
}

.register-container .form-group {
    margin-bottom: 1.5rem;
}

.register-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
}

.register-container input {
    color: #000;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.register-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-container button:hover {
    background-color: #0056b3;
}
